@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.card {
  background: #282828;
  color: $white;
  padding: 1.5rem;

  .cardHead {
    display: flex;
    justify-content: space-between;
    h4 {
      font-size: 14px;
      font-weight: normal;
    }

    .customIcon {
      color: $theme-success;
    }
    .dashboardDropdown {
      display: block !important;
    }
    .cardIcon {
      font-size: 1.7rem;
    }
  }
  .cardProgress {
    .cardProgressBar {
      background-color: #f28823 !important;
    }
  }

  .cardBar {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    margin: 0 0.4rem;
  }
  .bar1 {
    background-color: #f28823 !important;
  }
  .bar2 {
    background-color: #403e3e;
  }
  .bar3 {
    background-color: #f28823;
  }
  .bar4 {
    background-color: #f5b82a;
  }
  .bar5 {
    background-color: #da291c;
  }
  .bar6 {
    background-color: #aaaaaa;
  }
}

.cardBody {
  Table {
    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
      border: none;
    }
  }
}
.cardBody_star {
  color: $theme-yellow-E8;
}

.horizontalChartStyle {
  margin-left: -10px;
  margin-top: 24px;

  div {
    scale: 1.1;
    @include desktop-lg {
      scale: 1.08;
    }
  }
}
