@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.motorcycleDetail {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  @include mobile{
    padding: 12px;
  }

  .motorcycleTitle {
    color: $gray-cb;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 1rem;

    span {
      opacity: 0.7;
    }
  }

  .motorcycleName {
    color: $white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;

    @include mobile{
      font-size: 20px;
      flex-wrap: wrap;
    }

    span {
      color: $theme-yellow-E8;
      font-size: 14px;
      font-weight: 500;
      margin-left: 5px;
    }

    small {
      color: $gray-cb;
      font-size: 12px;
      font-weight: 500;
      margin-left: 5px;

      @include mobile{
        margin-bottom: 0;
        margin-left: 0;
        margin-top: 5px;
      }
    }
  }

  .motorcycleSpecs {
    color: $gray-cb;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0.8rem;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:nth-child(2) {
      border-left: 1px solid $gray-70;
      border-right: 1px solid $gray-70;
    }
  }

  .motorcycleCompleteSpec {
    padding: 0.7rem 1rem;
    border: 1px solid $black-40;

    .specsHeading {
      color: $gray-a7;
      font-size: 10px;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    .specsText {
      color: $gray-F3;
      font-size: 10px;
      font-weight: 500;
      margin-bottom: 0.7rem;
    }
  }

  .motorStylePrice {
    color: $gray-cb;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
    margin-left: -1rem;
    text-align: right;
    @include mobile{
      text-align: left;
      margin-left: 0;
    }
  }

  .motorStylePriceTxt {
    color: $gray-F3;
    font-size: 18px;
    font-weight: 500;
  }
}

.completeBorderBottom {
  border: 1px solid $black-40;
}

.bikeDetailLocation {
  margin-bottom: 20px;
  font-size: 12px;

  span {
    font-size: 12px;
    color: $gray-cb;
    font-size: 500;
  }
}

.bikeRupeeIcon {
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
  color: $gray-cb;
  position: relative;
  top: 0.6rem;
  left: 0.3rem;
  @include mobile{
    top: 0;
  }
}


.hgBidCols {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  @include mobile{
    flex-wrap: wrap;
  }

  .priceTag {
    background-color: $black-40;
    color: $theme-yellow-E8;
    padding: 5px 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .motorsDetails {
    padding: 0 18px;
    width: 100%;
    @include mobile{
      padding: 15px 0;
    }

    span {
      display: block;
      color: $gray-a7;
      font-size: 12px;
    }

    a {
      color: $white;
      text-decoration: underline;
      transition: all 0.5s;

      &:hover {
        color: $theme-yellow-E8;
      }
    }
    
  }
}

.bikeDetailInfoIcon {
  position: absolute;
  right: 5px;
  top: 0;
  color: $white;
  padding: 0;
  font-size: 32px;
  border: none;
  outline: none;
  color: $gray-c;
}

.bike_dealerPrice {
  display: flex;
  align-items: center;
  position: relative;
  right: 20rem;
  
  @include mobile{
    right: 0;
  }

  @include tablet{
    right: 4rem;
  }
}

.dealerDetails {
  margin: 0.6rem 0;

  .dealerName {
    font-size: 14px;
    margin-bottom: 0.5rem;

    // font-size: 200;
    span {
      text-decoration: underline;
      margin-left: 0.5rem;
    }
  }

  .dealerDetails_line {
    margin: 0.5rem 0;
  }

  .dealerDetails_lists {
    .dealerDetails_list {
      font-size: 12px;
      font-weight: 500;
      border-right: 1px solid #707070;
      &:last-child{
        border-right: none;
      }
      @include mobile{
        padding: 0 5px;
      }
    }

    .list_icon {
      margin: 0rem 0.5rem;
      margin-bottom: 0.2rem;
    }
  }
}

.closedBidPrice {
  .motorsDetails {
    font-size: 12px;
    color: $gray-a7;
    margin-bottom: 3px;

    a {
      color: $gray-F3;
      font-size: 14px;
      text-decoration: underline;
      margin-left: 5px;
    }
    button {
      color: $white;
      text-decoration: underline;
      transition: all 0.5s;
      border: none;
      outline: none;

      &:hover {
        color: $theme-yellow-E8;
      }
    }
  }

  .priceTag {
    width: 100%;
    background-color: $gray-28;
    font-size: 18px;
    color: $gray-a7;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 12px;
    margin-right: 10px;
  }

  .priceBtn {
    width: 100%;

    button {
      width: 100%;
    }
  }
}

.upcomingDetailPrice{
  .title{
    font-size: 12px;
    color: $gray-a7;
    margin-bottom: 3px;
  }
  .priceCols{
    background-color: $gray-28;
    padding: 5px 12px;
    color: $gray-a7;
    font-size: 18px;
    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    font-weight: 500;
    svg{
      font-size: 22px;
    }
  }
  .upcomingBtn{
    a{
      display: inline-block;
      margin-left: 10px;
      padding: 10px 20px;
      text-decoration: none;
      color: $white;
      font-size: 12px;
      text-transform: uppercase;
      background-color: $black-40;
    }
  }
}

.sellerDetailPrice{
  .title{
    font-size: 12px;
    color: $gray-a7;
  }
  .priceCols{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    svg{
      font-size: 17px;
      margin-left: 3px;
    }
  }
  .sellerIdCols{
    margin-bottom: 10px;
    .sellerId{
      display: flex;
      align-items: center;
      span{
        background-color: $gray-28;
        padding: 5px 15px;
      }
      button{
        color: $white;
        padding: 0;
        outline: none;
        border: none;
        font-size: 13px;
      }
    }    
  }

  .sellerIInput{
    display: flex;
    align-items: center;
    .inputCols{
      position: relative;
      margin-top: 2px;
      width: 100%;
      input{
        border-radius: 0;
        background-color: transparent;
        border: 1px solid $black-40;
        color: $white;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        padding-left: 26px;
        &:focus{
          outline: none;
          box-shadow: none;
        }
      }
      svg{
        position: absolute;
        left: 8px;
        top: 9px;
        font-size: 19px;
      }
    }
    .saveBtn{
      width: 100%;
      margin-left: 10px;
      button{
        width: 100%;
      }
    }
  }
}

.underNegDetailPrice{
  .negPriceList{
    display: flex;
    justify-content: space-between;
    a{
      color: $white;
      text-decoration: underline;
    }
    .priceSymbol{
      font-size: 26px;
      margin-right: 2px;
      color: $gray-a7;
    }
    .negPriceCols{
      display: flex;
      align-items: center;
      small{
        display: block;
        font-size: 12px;
        color: $gray-a7;
      }
    }
  }
}

.cdaPriceMain{
  margin-top: 10px;
  .cdaFlex{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
    .title{
      font-size: 12px;
      color: $gray-a7;
      margin-right: 10px;
      width: 100%;
    }
    .priceInput{
      position: relative;
      width: 100%;
      svg{
        position: absolute;
        left: 8px;
        top: 7px;
        font-size: 18px;
        color: $white;
      }
      input{
        border-radius: 0;
        background-color: $gray-28;
        border: none;
        color: $white;
        border-radius: 0;
        padding-left: 26px;
        &:focus{
          box-shadow: none;
        }
      }
    }
    .priceBtn{
      width: 100%;
      margin-left: 15px;
      button{
        display: inline-block;
        padding: 8px 15px;
        background-color: $black-40;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        border-radius: 0;
        width: 100%;
      }
      .activeBtn{
        background-color: $theme-red-da;
      }
    }
  }
}
