@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.titleViewAllMain{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 0rem 1.6rem 0rem;
	.titleViewAll{
		display: flex;
		font-size: 14px;
		font-weight: 500;
		color: #ffffff;
		margin-bottom: 0px;
		opacity: 0.9;
		span{
			margin-left: 15px;
			opacity: 0.56;
		}
	}
	.viewAllBtn{
		padding: 0.375rem 1.2rem;
		min-height: 28px;
		font-size: 12px;
		font-weight: 400;
		background: transparent;
		border: 1px solid #FFFFFF;
		border-radius: 0px;
		&:active{
			background: transparent;
			border: 1px solid #FFFFFF;
		}
	}
}

.bikeCardMain {
  background-color: #282828;
  border-radius: 0px;

  img {
    border-radius: 0px;
    object-fit: contain;
  }

  .bikeCardTag{
	position: absolute;
	left: -6px;
	top: 15px;
	font-size: 10px;
	font-weight: 600;
	color: #ffffff;
	padding: 0.2rem 0.6rem 0.2rem 1rem;
	background-color: #DA291C;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  }

  .bkeName {
    font-size: 16px;
    color: #ffffff;
    padding: 0 1rem;
    margin-bottom: 15px;
    span {
      font-size: 14px;
      color: #e8b016;
    }
  }
  .bikeDetail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0.7rem 1rem;
    background-color: #333333;
    .detailTxt {
      font-size: 12px;
      color: #cbc6c6;
      padding: 0;
      margin-bottom: 0px;

      &:nth-child(2) {
        text-align: center;
        border-left: 1px solid #707070;
        border-right: 1px solid #707070;
      }
      &:nth-child(3) {
        text-align: end;
      }
    }
  }
  .priceTitle {
    color: #cbc6c6;
    padding: 0rem 1rem;
    font-size: 12px;
    font-weight: 500;
  }
  .price {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 0rem 1rem;
    margin-bottom: 15px;
  }
  .bikeCardBtn {
    width: 100%;
    min-height: 42px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background: #403e3e;
    border: 0;
    border-radius: 0;
    &:active {
      background: #403e3e;
    }
    &.viewDetailBtn{
		background: #DA291C;
		&:active{
			background: #DA291C;
		}
	}
  }
}
