@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.bikeDetailContainer {
	margin-top: 20px;
	background-color: $gray-2;
}

.contactCols {
	background-color: $black;
	display: flex;
	li{
		list-style-type: none;
		margin-right: 15px;
		padding-right: 15px;
		border-right: 1px solid $gray-70;
		&:last-child{
			margin-right: 0;
		}
		a{
			color: $white;
			text-decoration: none;
			font-size: 12px;
			color: $gray-cb;
		}
	}
}

.detailSendCols{
	padding: 20px;
	background-color: $gray-28;
	li{
		list-style-type: none;
		margin-bottom: 8px;
		&:last-child{
			margin-bottom: 0;
		}
		a.sendLink{
			color: $white;
			text-decoration: underline;
			&:hover{
				color: $theme-warning;
			}
		}
		a{
			color: $theme-warning;
			text-decoration: none;
			&:hover{
				color: $white;
			}
		}
		svg{
			font-size: 16px;
			margin-right: 3px;
		}
	}
}

.sendPaymentsCols{
	position: relative;
}