@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.priceFilterFlex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.addMotorBtn{
	display: inline-block;
	padding: 6px 15px;
	color:$gray-0D;
	background-color: $white;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.5s;
	border-radius: 0;
	&:hover{
		background-color: $theme-red-da;
		color: $white;
	}
	svg{
		display: inline-block;
		margin-right: 3px;
	}
}

.priceResultText{
	font-size: 12px;
	color: $gray-cb;
	display: block;
	margin: 25px 0 15px;
}

.evaluteMain{
	margin-top: 20px;
}