@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.reportAccordian {
  .profileIcon {
    width: 32px;
    height: 32px;
    margin-right: 1rem;
  }
  .accordianHeadName {
    font-size: 14px;
    font-weight: 500;
    color: rgba($white,0.9);
  }
  p {
    color: rgba($white,0.5);
    font-size: 12px;
    margin-left: 0.6rem;
    margin-bottom: 0;
  }

  .ratingTitle {
    font-size: 14px;
    margin-left: 1rem;
    font-weight: bold;
    color: rgba($white,0.9);
    @include mobile{
      margin-left: 0;
      margin-top:5px;
    }
  }

  .description {
    font-size: 14px;
    line-height: 20px;
    color: rgba($white,0.8);
    padding-right: 60px;
    @include mobile{
      padding-right: 15px;
      padding-top: 0;
    }
  }
}
