@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';
.loadMoreBtn {
  padding: 0.375rem 1.2rem;
  min-height: 42px;
  font-size: 12px;
  font-weight: 600;
  height: 42px;
  background: transparent;
  border: 1px solid $theme-red-da;
  border-radius: 0;
}
