@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.demandTableMain{
	border: none;
	tr{
		th{
			color:$gray-a7;
			padding: 17px 15px;
			font-size: 14px;
			vertical-align: middle;
			background-color: $gray-28;
			border-color: $gray-28;
			font-weight: 500;
			&:first-child{
				border-left: none;
			}
			&:last-child{
				border-right: none;
			}
		}
		td{
			color:$white;
			padding: 15px 15px;
			font-size: 14px;
			vertical-align: middle;
			background-color: $gray-18;
			border:1px solid $gray-28;
			border-width: 0;
			&:nth-child(01){
				width: 6%;
			}
			&:first-child{
				border-left: none;
			}
			&:last-child{
				border-right: none;
			}

			.actionTd{
				display: flex;
				align-items: center;
				justify-content: space-between;
				.flagBtn{
					padding: 0;
					color: $white;
					outline: none;
					border: none;
					font-size: 16px;
				}
				.dropdownToggle{
					padding: 0;
					color: $white;
					font-size: 16px;
					outline: none;
					border: none;
					&::after{
						display: none;
					}
				}
				.dropdownMenu{
					border-radius: 0;
					padding: 0 10px;
					padding-top: 10px;
					a{
						color: $black;
						font-size: 12px;
						font-weight: 600;
						padding: 7px 0;
						display: block;
						border-bottom: 1px solid $gray-F3;
						&:hover{
							background-color: $white;
						}
						&:focus{
							background-color: $white;
						}
						&:last-child{
							color: $theme-red-da;
							border-bottom:none;
						}
					}
					.closeDropdown{
						position: absolute;
						right: 5px;
						top: 2px;
						cursor: pointer;
					}
				}
			}
		}
	}
}