@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

.formInput {
  padding: 1.25rem 0rem;
  position: relative;
  @include mobile{
    padding-bottom: 50px;
  }
  .labalAlign {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .inputSpan {
    font-size: 16px;
    color: $white;
  }

  .inputText {
    font-size: 12px;
    color: $gray-cb;
  }

  .inputField {
	.profileImg{
		img{
			width: 74px;
			height: 74px;
			margin-right: 50%;
      @include mobile{
        width: 45px;
        height: 45px;
        margin-right: 8px;
      }
		}
	
	}
    .form-control:focus {
      color: #212529;
      background-color: $white;
      border-color: transparent;
      outline: 0;
      box-shadow: none;
    }
    input {
      background-color: $gray-28;
      font-size: 14px;
      border-radius: 5px;
      padding: 0.45rem 1.5rem;
      border: 1px solid $gray-28;
      color: $white;
	    margin-bottom: 15px;
      &::placeholder{
        color: $white;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    textarea{
      background-color: $gray-28;
      font-size: 14px;
      border-radius: 5px;
      padding: 0.45rem 1.5rem;
      border: 1px solid $gray-28;
      color: $white;
	    margin-bottom: 15px;
      resize: none;
      &::placeholder{
        color: $white;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }    
  }
}
.inputDivider {
  border: 1px solid $gray-70;
  margin: 10px 0 20px 0;
  opacity: 0.18;
}