@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";

// Home Page Style
.PartialLeadsStyle {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $theme-primary;

  .titleCustomStyle {
    text-align: center;
    color: $white;
  }
}
.detailCardTxt{
  color: $gray-a7;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
}