@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.inventoryTabTable {
  table {
    padding: 1rem;
    a {
      color: #e8b016;
      text-decoration: none;
    }
    tbody {
      tr {
        th {
          padding: 1rem !important;
        }
        td {
          padding: 1rem !important;
        }
      }
    }
    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
      border: 1px solid rgb(19, 19, 19);
    }
  }
}

.graphCards {
  margin: 24px 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }

  .graphCard {
    background-color: #282828;
    width: 100%;
    padding: 20px;
  }

  .cardIcon {
    font-size: 25px;
  }
}
