@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.topHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.7rem;
  .topHeaderTxt {
    font-size: 14px;
    font-weight: 500;
    color: #cbc6c6;
    opacity: 0.9;
    margin-bottom: 0px;
  }
  .topHeaderBtnBox {
    display: flex;
    .viewText {
      font-size: 14px;
      font-weight: 400;
      color: #cbc6c6;
      margin-bottom: 0px;
    }
    .topHeaderBtn {
      padding: 0rem 0.8rem;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      background: transparent;
      border-radius: 0;
      border: 0px;
      border-right: 1px solid #707070;
	  &:last-child {
		border-right: 0px;
	  }
	  &.activeBtn{
		color: #DA291C;
	  }
    }
  }
}