@import '../../../styles/variables/colors';
@import '../../../styles/variables/mixins';

.imgTabsMain{
	.imgTabs{
		@include mobile-tablet-p{
			padding: 25px 15px;
		}
		.title{
			margin-bottom: 22px;
			font-size: 16px;
			font-weight: 500;
		}
		.navTabs{
			border: 1px solid $gray-70;
			flex-wrap: nowrap;
			@include mobile-tablet-p{
				flex-wrap: wrap;
				border: none;
			}
			.navItem{
				width: 100%;
				@include mobile-tablet-p{
					flex: 50%;
					width: 50%;
					margin: 3px 0;
				}
				&:last-child{
					a{
						border-right: none;
						@include mobile-tablet-p{
							border-right: 1px solid $gray-70;
						}
					}
				}
				a{
					padding: 12px 10px;
					border-right: 1px solid $gray-70;
					text-align: center;
					font-size: 14px;
					color: $white;
					white-space: nowrap;
					transition: all 0.5s;
					@include mobile-tablet-p{
						border: 1px solid $gray-70;
						white-space: pre-wrap;
						display: flex;
						align-items: center;
						text-align: left;
						font-size: 13px;
						padding: 0 10px;
						height: 50px;
					}
					&:hover{
						background-color: $theme-red-da;
					}
					span{
						display: inline-block;
						margin-right: 5px;
						img{
							width: 20px;
							height: 20px;
						}
					}
				}
			}			
		}

		.imgTabPanel{
			padding: 10px 0 0;
			.bikeOverview{
				padding: 20px;
				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
