@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.inspectionMain{
	    background-color: $gray-2;
		padding: 25px;
		margin-top: 25px;
    	margin-bottom: 25px;

	   .inspectionHeading{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 25px;

		h2{
			font-size: 16px;
			font-weight: 500;
		}
	   }
}