@import '../../../styles/variables/colors';
@import '../../../styles/variables/mixins';
.dealershipDetails {
  button {
    background-color: transparent;
    border: none;
    color: $white;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  .dealershipStatus {
    position: relative;
    top: 0.5rem;
    right: 0.3rem;
    font-size: 12px;
    color: $gray-cb;

    span {
      color: $white;
    }
  }
}
.motors {
  margin-top: 0.5rem;
  .motorsHead {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }
    .motorsHeading {
      h3 {
        font-size: 24px;
        // font-family: "Guardian Sans, Semibold";
        span {
          font-size: 12px;
          color: $gray-cb;
        }
      }
      p {
        font-size: 14px;
        margin-top: 1rem;
        span {
          font-size: 12px;
          color: $gray-cb;
          margin-left: 0.3rem;
        }
      }
    }
    .motorsLists {
      display: flex;

      @include mobile{
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        height: 12vh;
      }

      

      .listItemContent {
        width: 100%;
      }

      .motorsList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        gap: 0 20px;

        @include mobile {
          flex-direction: column;
          justify-content: flex-start;
        }
        .motorsListIcon{
          @include mobile{
            position: relative;
            left: 0.5rem;
            top: 1rem;
          }
        }
        &::before {
          background: $gray-65;
          height: 80%;
          width: 2px;
          display: flex;
          content: '';
          margin: 0 24px 22px;
        }

        &:first-child {
          &::before {
            display: none;
          }
        }
        h6 {
          font-size: 16px;
          color: $white;
          width: 100%;
        }

        p {
          font-size: 12px;
          color: $gray-cb;
        }
      }
      .motorsListMob{
        @include mobile{
          margin-top: 1.5rem;
        }
      }
    }
  }

  .motorsCards {
    display: flex;
    justify-content: space-between;
    gap: 0 14px;

    @include mobile{
      flex-direction: column;
    }

    .motorsCard {
      background-color: $gray-28;
      padding: 1.5rem;
      width: 100%;

      @include mobile{
        margin: 0.5rem 0;
      }

      h6 {
        font-size: 12px;
        color: $gray-a7;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;

        span {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      p {
        font-size: 14px;

        span {
          color: $gray-a7;
        }
      }
    }
  }
}
