.dealershipDetails {
  button {
    background-color: transparent;
    border: none;
    color: white;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .dealership_status {
    position: relative;
    top: 0.4rem;
    right: 0.3rem;
    &:before {
      content: '';
      position: absolute;
      background-color: green;
      border-radius: 50%;
      height: 5px;
      width: 5px;
      left: -0.9rem;
      top: 0.5rem;
    }
  }
}
.motors {
  margin-top: 2.5rem;
  .motors_head {
    display: flex;
    justify-content: space-between;
    .motors_heading {
      h3 {
        font-size: 24px;
        // font-family: "Guardian Sans, Semibold";
        span {
          font-size: 12px;
          color: #cbc6c6;
        }
      }
      p {
        font-size: 14px;
        margin-top: 1rem;
        span {
          font-size: 12px;
          color: #cbc6c6;
          margin-left: 0.3rem;
        }
      }
    }
    .motors_lists {
      display: flex;

	  .listItemContent {
		width: 100%;
	  }

      .motors_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
		margin-bottom: 40px;
		gap: 0 20px;

		&::before {
			background: #656565;
			height: 80%;
			width: 2px;
			display: flex;
			content: '';
			margin: 0 24px 22px;
		}

        &:first-child {
			&::before { 
				display: none;
			}
        }
        h6 {
          font-size: 16px;
          color: #ffffff;
          width: 100%;
        }

        p {
          font-size: 12px;
          color: #cbc6c6;
        }
      }
    }
  }

  .motors_cards {
    display: flex;
    justify-content: space-between;
	gap: 0 14px;
	
    .motors_card {
      background-color: #282828;
      padding: 1.5rem;
      width: 100%;

      h6 {
        font-size: 12px;
        color: #a7a7a7;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;

        span {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      p {
        font-size: 14px;

        span {
          color: #a7a7a7;
        }
      }
    }
  }
}
