@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.procuredStatus {
  color: #cbc6c6;
  display: flex;
  align-items: center;
  font-size: 12px;
  background-color: #282828;
  padding: 6px 10px;
  position: relative;

  .space {
    margin-right: 8px;
  }
  .textHighlight {
    color: $white;
    margin-left: 4px;
  }
}

.procuredMotorTopcard{
  display: flex;
  background-color: $gray-2;
}

.imgBox {
  width:70%;
  padding: 15px;
}

.procuredMotorDetail {
  width: 100%;
}