@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.evaluteFormMain{
	border: 1px solid $gray-70;
	.formGroup{
		width: 100%;
		position: relative;
	}
	input{
		border: none;
		border-radius: 0;
		background-color: transparent;
		height: 52px;
		border-right: 1px solid $gray-70;
		padding: 0 15px;
		font-size: 12px;
		color: $white;
		padding-right: 48px;
		&:focus{
			background-color: transparent;
			outline: none;
			box-shadow: none;
			border-color:$gray-70;
			color: $white;
		}
		&:focus::placeholder{
			opacity: 0;
		}
		&::placeholder{
			color: $white;
		}
	}
	.iconImg{
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(-50%, -50%);
		img{
			width: 100%;
			max-width: 20px;
		}
	}

	a{
		background-color: $white;
		color: $gray-3;
		padding: 0 15px;
		border-radius: 0;
		font-size: 14px;
		font-weight: 600;
		width: 100%;
		max-width: 128px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: all 0.5s;
		text-decoration: none;
		&:hover{
			background-color: $theme-red-da;
			color: $white;
		}
	}
}