@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.nonReStyle {

	@include mobile {
		padding-bottom: 100px;
	}
}

.enquireDoughnutChart {
	position: relative;
	padding: 20px;
	background-color: $gray-28;
	padding-right: 80px;
	height: 100%;
	overflow: hidden;

	@include mobile {
		padding-right: 0px;
	}

	.barChart {
		height: 100%;
		width: 100%;
		margin-top: 50px;
	}
}

.enquireBarChart {
	position: relative;
	padding: 20px;
	background-color: $gray-28;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: column;
	@include mobile {
		margin-top: 20px;
	}

	.barChart {
		display: flex;
		align-items: center;
		width: 100%;
	}
}

// nonReDetailCard
.nonReDetailCard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;

	@include tablet {
		grid-template-columns: repeat(2, 1fr);
	}

	@include mobile {
		grid-template-columns: repeat(1, 1fr);
	}
}
