@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.enquireBarChart {
	position: relative;
	padding: 5px;
	background-color: $gray-28;
	overflow: hidden;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}