@import "../../styles/variables/colors";
@import "../../styles/variables//mixins";

.arrowButton{
	display: block;
	width: 100%;
	background-color: $theme-pink-da;
	outline: none;
	border: none;
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	height: 35px;
	text-align: center;
	position: relative;
	transition: all 0.5s;
	&:hover{
		background-color: $theme-red-da;
	}
	span{
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
		color: $white;
		background-color: $theme-red-da;
		padding: 0 12px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
	}
}

.redButton{
	display: block;
	width: 100%;
	background-color: $theme-red-da;
	outline: none;
	border: none;
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	height: 35px;
	text-align: center;
	position: relative;
	transition: all 0.5s;
	&:hover{
		background-color: $theme-pink-da;
	}
}

.arrowBtnMain{
	padding:10px;
}