@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.detailPaginationContainer{
	top: 48px;
	position: relative;
}
.detailPaginationMain{
	display: flex;
	align-items: center;
}

.detailPaginationNumber{
	h3{
		font-size: 14px;
		color: #CBC6C6;
	}

}

