@import "../../styles/variables/colors";
@import "../../styles/variables//mixins";

.EditDetailsCard {
  position: relative;
  .editBikeImg {
  
    img {
      width: 100%;
      opacity: 0.5;
      height: auto;
     object-fit: cover;
     margin-bottom: 1.5rem;
    }

    .editIcon {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }


}
