// variables
@import "../../styles/variables/colors";
@import "../../styles/variables//mixins";

// heroSection
.layoutStyle {
	color: aliceblue;
}

.mainContainerStyle {
	margin-left: 240px;
	padding: 0 56px;
	margin-top: 47px;
}