@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.detailCard{
	background-color: $gray-2;
	margin-top: 25px;
	.detailCardBody{
		.detailImg{
			img{
				width: 155px;
				height: 139px;
				cursor: pointer;

				&:hover{
					border: 1px solid $white;
				}
			}
		}
	}
}