@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.paginationMain{
	margin-top: 1rem;
	.detailPaginationTitle{
		@include mobile {
			max-width: fit-content;
		}
		h3{
			color: $gray-cb;
			font-size: 14px;
			font-weight: 400;
		}
	}
	.detailPaginationNumber{
		@include mobile {
			max-width: fit-content;
		}
		.detailPagePrevNextBtn{
			min-height: 40px;
			padding: 0.375rem 1.5rem;
			color: $gray-cb;
			font-size: 14px;
			font-weight: 500;
			background: transparent;
			border: 1px solid $gray-cb;
			border-radius: 0;
			display: flex;
			align-items: center;
			.desktopTitle{
				display: block;
				@include mobile{
					display: none;
				}
			}
			.mobileTitle{
				display: none;
				@include mobile{
					display: block;
				}
			}
			@include mobile{
				padding: 0.375rem 0.5rem;
				display: flex;
				align-items: center;
				min-height: 39px;
			}
			&:hover{
				color: $gray-0D;
				background: $white;
			}
		}
		.detailPageNo{
			margin: 0 2rem;
			margin-bottom: 0px;
			@include mobile{
				margin: 0 0.5rem;
			}
		}
	}
}
// ------------------------------------


