.leadTable {
  Table {
    height: 20rem;

    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
      border: none;
      padding: 1.2rem 2rem;
    }
    tbody {
      padding: 1rem;
      .BoldHead {
        color: white;
        font-size: 16px;
        .BoldHeadIcon {
          font-size: 1.5rem;
          margin: 0 0.5rem;
        }
      }
    }
    a {
      color: #e8b016;
      text-decoration: none;
    }
  }
}
