@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.leadTable {
  .tableStyle {
    width: 100%;
    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
      border: none;
      padding: 1.8rem 2rem;
    }

    .boldHeadIcon {
      margin-left: 10px;
    }

    a {
      color: $theme-yellow-E8;
      text-decoration: none;
    }
  }
}
