@import '../../../styles/variables/colors';
@import '../../../styles/variables/mixins';

.bikeDetailHead{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	color: $white;

	.title{
		font-size: 24px;
		font-weight: 600;
	}

	.smtitle{
		font-size: 14px;
		color: $gray-cb;
	}

	.bikeDetailStatus{
		font-size: 12px;
		
		span{
			color: $gray-cb;
			position: relative;
			&::before{
				content: '';
				display: inline-block;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: $theme-danger;
				margin-right: 5px;
			}
		}
	}
}