// variables
@import "../../styles/variables/colors";
@import "../../styles/variables//mixins";

// Home Page Style
.homepageStyle {
  .titleCustomStyle {
    color: $white;
  }

  .cardGridLayoutStyle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10.33px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}


.faqSearch {
  margin: 20px 0 25px;
  position: relative;
  input{
    font-size: 14px;
    min-height: 40px;
    font-weight: 400;
    color: $gray-a7;
    padding-right:15px;
    background: transparent;
    border-radius: 0;
    border: 1px solid $gray-70;
    &:focus{
      background-color: transparent;
      outline: none;
      box-shadow: none;
      border-color: $gray-70;
      color: $gray-a7;
    }
    &::placeholder{
      color: $gray-a7;
    }
    &:focus::placeholder{
      opacity: 0;
    }
  }
  
  .inputSearch{
    position: absolute;
    top: 50%;
    right: 15px;
    color: #CBC6C6;
    font-weight: 600;
    font-size: 16px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}