@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';
.card{
	background: #282828;
	color: white;
   height: 55vh;
   padding: 1.5rem;

	.cardHead{
		display: flex;
		justify-content: space-between;
     h4{
		font-size: 14px;
		font-weight: normal;
	 }

		.customIcon{
			color: $theme-success;
		  }
		.dashboardDropdown{					
	     display: block !important;
	}
    .cardIcon{
		font-size: 1.7rem;
	}	
	}
	.cardProgress{
		.cardProgressBar{
			background-color: #F28823 !important;
		}
	}

	.cardBar{	
		height: 1rem;
		width: 1rem;
		display: inline-block;
		margin: 0 0.4rem;
	}
	.bar1{
		background-color: #F28823 !important;
	}
	.bar2{
		background-color: #403E3E;
	}
	.bar3{
		background-color: #F28823;
	}
	.bar4{
		background-color: #F5B82A;
	}
	.bar5{
		background-color: #DA291C;
	}
	.bar6{
		background-color: #AAAAAA;
	}
}

.cardBody{
	Table{
		thead, tbody, tfoot, tr, td, th{
			border: none;
		  }
	}
}
.cardBody_star{
	color: #E8B016;
}

.horizontalChartStyle {
	margin: 10px 0;

	div {
		scale: 1.1;
		@include desktop-lg {
			scale: 1.08;
		}
	}
}