@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.demandTitle {
  font-size: 18px;
  font-weight: 500;
  @include mobile{
    margin-bottom: 10px;
  }
}
.demandContainer {
  background-color: $gray-28;
  padding: 15px;
  margin: 15px 0;
  margin-bottom: 40px;
  position: relative;
  &:last-child {
    margin-bottom: 15px;
  }
}
.demandHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mobile{
    flex-wrap: wrap;
    margin-top: 0;
    flex-direction: column-reverse;
  }
  .title{
    @include mobile{
      text-align: left;
      width: 100%;
      margin-top: 10px;
    }
  }
}

.stageTitle{
  display: flex;
  align-items: center;
  font-size: 12px;
  @include mobile{
    position: absolute;
    bottom: 8px;
    left: 15px;
  }
}

.wishListedGraphBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 339px;
  margin: 25px 0;
}

.graphSection {
  display: flex;
  justify-content: center;
  align-items: center;

  .graphStyle {
    height: 339px;
  }
}

.allTimeTable{
  margin: 25px 0;
}

.demandHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mobile{
    display: block;
  }
  .flexCols{
    display: flex;
    align-items: center;
    @include mobile{
      margin-bottom: 12px;
      width: 100%;
      &:last-child{
        margin-bottom: 0;
      }
    } 
    div{
      @include mobile{
        width: 100%;
      }
    }
    button{
      @include mobile{
        width: 100%;
      }
    }   
    span{
      @include mobile{
        white-space: nowrap;
      }
    }
  }
}