@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.paymentInformation{
	display: flex;
	background-color: $black;
	padding: 1rem 1.5rem;
	box-sizing: border-box;

	.transerfer{
		width: 70%;
		border-right: 1px solid $gray-70;
		margin-right: 2rem;
		h6{
			font-size: 14px;
			color: $gray-cb;
			font-weight: 300;
			text-decoration: underline;
			margin-bottom: 1rem;
		}
		p{
			font-size: 14px;
			color: $gray-cb;

			span{
				color: $gray-F3;
				margin: 0 1rem;
			}
		}
	
	}
	.received{
		width: 30%;
		h6{
			font-size: 14px;
			color: $gray-cb;
			font-weight: 300;
			text-decoration: underline;
			margin-bottom: 1rem;
		}
		p{
			font-size: 14px;
			color: $gray-cb;

			span{
				color: $gray-F3;
				margin: 0 1rem;
			}
		}
	}
}

.refNo{
	background-color: $gray-28;
	padding: 0.5rem;
	margin: 0rem !important;
}

.downloadBtn{
	border: 1px solid $gray-a7;
	padding: 0.5rem 1rem;
	cursor: pointer;

}