@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.paymentInformation {
  display: flex;
  background-color: $black;
  padding: 1rem 1.5rem;
  box-sizing: border-box;

  p {
    margin: 0.4rem;
  }

  @include mobile {
    flex-direction: column;
  }

  .transerfer {
    width: 70%;
    border-right: 1px solid $gray-70;
    margin-right: 2rem;
    @include mobile {
      width: 100%;
      border: none;
      margin-right: 0;
    }
    h6 {
      font-size: 14px;
      color: $gray-cb;
      font-weight: 300;
      text-decoration: underline;
      margin-bottom: 1rem;
    }
    p {
      font-size: 10px;
      color: $gray-cb;
      @include mobile {
        font-size: 12px;
      }

      span {
        color: $gray-F3;
        margin: 0 1rem;
        font-weight: 500;
        @include mobile {
          margin: 1rem 0 !important ;
        }
      }
    }
  }
  .received {
    width: 30%;
    @include mobile {
      width: 100%;
    }
    h6 {
      font-size: 14px;
      color: $gray-cb;
      font-weight: 300;
      text-decoration: underline;
      margin-bottom: 1rem;
    }
    p {
      font-size: 10px;
      color: $gray-cb;

      @include mobile {
        font-size: 12px;
      }
      span {
        color: $gray-F3;
        margin: 0 1rem;
        font-weight: 500;

        @include mobile {
          margin: 0;
        }
      }
    }
  }
}

.refNo {
  background-color: $gray-28;
  padding: 0.5rem;
  margin: 0rem !important;

  @include mobile {
    margin: 1rem 0 !important;
  }
}

.downloadBtn {
  border: 1px solid $gray-a7;
  padding: 0.5rem 1rem;
  cursor: pointer;

  @include mobile {
    margin: 1rem 0 !important;
  }
}
