@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.bookAppoinmentForm{
    background-color: #282828;
	width: 65vw;
	padding: 1rem 1.5rem;
	.contactLabel{
		color: $white;
		font-size: 12px;
		font-weight: 400;
		width: 27vw;
		margin-right: 1rem;
	  }
	  .contactInput{
		min-height: 38px;
		color: $white;
		font-size: 14px;
		font-weight: 400;
		background-color: #201F1F;
		border: 0px;
		border-radius: 0px;
		&:focus{
		  box-shadow: none;
		  outline: none;
		}
	  }


	  .accordionCalSection {
		.dateSecTitle {
		  color: $white;
		  font-size: 14px;
		  font-weight: 500;
		  margin-bottom: 1rem;
		}
	  }
	  .accordionTimeSection {
		.timeSecTitle {
		  color: $white;
		  font-size: 14px;
		  font-weight: 500;
		  margin-bottom: 1rem;
		}
		.timeSlotMain {
		  .timeSlotBtn {
			width: 100%;
			min-height: 48px;
			padding: 0.375rem 1rem;
			margin-bottom: 0.7rem;
			color: $gray-cb;
			font-size: 18px;
			font-weight: 400;
			text-align: left;
			background: transparent;
			border: 1px solid $gray-4F;
			border-radius: 0;
			&.activeTimeSlot {
			  background: $gray-37;
			}
		  }
		}
	  }

	  .BookAppoinmentButton{
		// border: 1px solid yellow;
		text-align: center;
		display: flex;
		justify-content: center;
		margin: 1rem 0;

		button{
			width: 35vh;
		}

	  }
}
	
