@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';


.creBikeInfoCard {
	background-color: #282828;
	border-radius: 0px;
	margin-bottom: 1.5rem;

  .chassisNumber{
	margin-bottom: 5px;
	span{
		font-size: 12px;
		padding: 0 1rem;
		color: $gray-70;
	}

  }
	.modalName {
	  font-size: 16px;
	  color: $white;
	  padding: 0 1rem;
	  margin-bottom: 10px;
	  span {
		font-size: 14px;
		color: $theme-yellow-E8;
	  }
	}
	.bikeDetail {
	  display: flex;
	  justify-content: space-between;
	  margin-bottom: 10px;
	  padding: 0 1rem;
	  .detailTxt {
		font-size: 12px;
		color: $gray-cb;
		padding: 0;
		margin-bottom: 0px;
  
		&:nth-child(2) {
		  text-align: center;
		  border-left: 1px solid $gray-70;
		  border-right: 1px solid $gray-70;
		}
		&:nth-child(3) {
		  text-align: center;
		}
	  }
	}

  
  }