@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.bikeCardCols{
	background-color: $gray-28;
	border-radius: 0px;
	margin-bottom: 15px;
	position: relative;
	.bikeImg{
		border-radius: 0;
	}
	.bikeName{
		font-size: 16px;
		color: $white;
		margin-bottom: 5px;
		padding: 10px;
		span{
			color: $theme-yellow-E8;
			font-size: 14px;
		}
		svg{
			cursor: pointer;
			color: $white;
			font-size: 12px;
		}
	}
	.cardPanel{
		padding: 0;
		.priceList{
			background-color: $gray-3;
			padding:5px 10px;
			.priceFlex{
				display: flex;
				align-items: center;
				justify-content: space-between;
				.bikePrice{
					span{
						position: inherit;
						top: 0;
						left:6px;
					}
				}
			}
			.sbTitle{
				font-size: 12px;
				color: $gray-a7;
				margin-bottom: 2px;
			}
			.bikePrice{
				display: flex;
				align-items: center;
				position: relative;
				input{
					background-color: $gray-2c;
					padding: 5px;
					padding-left: 18px;
					width: 100%;
					max-width: 105px;
					font-size: 13px;
					font-weight: 600;
					outline: none;
					border: none;
					color: #fff;
				}
				button.submitBtn{
					display:inline-block;
					background-color: transparent;
					border: 1px solid $gray-fd;
					border-radius: 0;
					height: 28px;
					font-size: 11px;
					text-transform: uppercase;
					padding: 0 8px;
					margin-left: 10px;
					transition: all 0.5s;
					&:hover{
						background-color: $gray-fd;
						color: $gray-3;
					}
				}
				svg{
					cursor: pointer;
					margin-left: 0.8rem;
					display:inline-block;
					width: 28px;
				}
				span{
					position: absolute;
					top: 3px;
					left: -2px;
					svg{
						margin-left: 0;
						font-size: 16px;
					}
				}
			}
		}

		.addtionalInfo{
			padding: 10px;
			span.infoTitle{
				font-size: 12px;
				color:$gray-cb;
			}
			span{
				font-size: 14px;
				color: $white;
			}
			.locationText{
				margin-top: 5px;
				font-size: 12px;
				span{
					color: $gray-cb;
				}
			}
		}
	}	
}
.selectAll{
	display: flex;
	align-items: center;
	margin-left: 10px;
	button{
		display: inline-block;
		padding:6px 10px;
		border-radius: 0;
		border:1px solid $white;
		font-size: 12px;
		text-transform: uppercase;
		color: $white;
		margin-left: 10px;
		transition: all 0.5s;
		svg{
			font-size: 16px;
			display: inline-block;
			margin-right: 3px;
		}
		&:hover{
			background-color: $white;
			color: $gray-3;
		}
	}
}
.copyIcon{
	cursor: pointer;
}

.selectBoxCheck{
	position: absolute;
	top:8px;
	left: 10px;
}

.sellerPrice{
	margin-top: 10px;
	position: relative;
	span{
		position: absolute;
		left: 4px;
		top: 22px;
		font-size: 18px;
	}
	input{
		background-color: $black;
		border-radius: 0;
		height: 30px;
		color: $white;
		outline: none;
		border: 1px solid $gray-5;
		width: 100%;
		padding-left: 22px;
		font-weight: 600;
		&:focus{
			outline: none;
			background-color: $black;
			box-shadow: none;
			border: 1px solid $gray-5;
			color: $white;
		}
	}
	button.submitBtn{
		display:inline-block;
		background-color: transparent;
		border: 1px solid $gray-fd;
		border-radius: 0;
		height: 28px;
		font-size: 11px;
		text-transform: uppercase;
		padding: 0 8px;
		margin-left: 10px;
		transition: all 0.5s;
		color: $white;
		&:hover{
			background-color: $gray-fd;
			color: $gray-3;
		}
	}
}

.gridListBtn{
	padding:0;
	margin-left: 5px;
	font-size:18px;
	color: $gray-cb;
	outline: none;
}