@import '../../../styles/variables/colors';
@import '../../../styles/variables/mixins';

.completeBikeFooter {
  background-color: $black;
  border-top: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
	display: flex;
	position: absolute;
	top: 10px;
	left: -20px;
	background-color: $black-40;
	width: 1px;
	height: 80%;
	content: '';
  }

  &:first-child {
	&::before {
		display: none;
	  }
	
  }

  .bikeFooterTitle {
    color: $gray-F3;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0.7rem;
    width: 100%;
  }

  .bikeFooterSubTitle {
    color: $gray-a7;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
  }

  .bikeFooterText {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0rem;
    @include mobile{
      font-size: 12px;
    }
  }
}

.cardFooterCols {
  display: flex;
  gap: 0 60px;
  width: 100%;
  @include mobile{
    gap: 0 25px;
  }
}

.borderNone {
  border-right: none;
}
