.dealerTable{
	Table{
		
		a{
			color: #FFFFFF;
			position: relative;
			margin-left: 1rem;
		}
		
		thead tr td{
			background-color: #282828;
			color: #A7A7A7;
			border: none;
			padding: 1.3rem;
		}
		tbody tr td{
			background-color: #181818;
			color: #FFFFFF;
			border: none;
			border-bottom: 1px solid #282828;
			padding:1rem 1.3rem;
			vertical-align: middle;
            

			.tableCheckbox .form-check-input:checked {
				background-color: red;
				border-color: red;
			}
		}
		
	}
}