@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

.dealerTable{
	Table{
		
		a{
			color: $white;
			position: relative;
			margin-left: 1rem;
		}
		
		thead tr td{
			background-color: $gray-28;
			color: $gray-a7;
			border: none;
			padding: 1.3rem;
		}
		tbody tr td{
			background-color: $gray-18;
			color: $white;
			border: none;
			border-bottom: 1px solid $gray-28;
			padding:1rem 1.3rem;
			vertical-align: middle;
            

			.tableCheckbox .form-check-input:checked {
				background-color: $theme-red-da;
				border-color: $theme-red-da;
			}
		}
		
	}
}

.cancelModalTitle {
	color: #f3f3f3;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.44px;
	margin-top: 2.4rem;
	span {
	  font-weight: bold;
	}
  }