@import '../../../styles/variables/colors';
@import '../../../styles/variables/mixins';

.compBikeCardSlider {
	min-height: 315px;
	max-height: 315px;
	.compBikeCardSlides {
	  &:focus-visible {
		outline: none;
	  }
	  img {
		width: 100%;
		max-height: 315px;
		min-height: 315px;
		object-fit: cover;
	  }
	}
	.slick-thumb {
	  margin-top: 10px;
	}
  }