@import '../../../styles/variables/colors';
@import '../../../styles/variables/mixins';

.compBikeCardSlider {
	min-height: 315px;
	max-height: 315px;
	.compBikeCardSlides {
	  &:focus-visible {
		outline: none;
	  }
	  img {
		width: 100%;
		max-height: 315px;
		min-height: 315px;
		object-fit: cover;
	  }
	}
	.slick-thumb {
	  margin-top: 10px;
	}
}

.sliderBgImage{
	img{
		width: auto;
		height: auto;
	}
}

.imgFull {
	min-width: 346px;
	height: 280px;
	position: relative;
	overflow: hidden;
	
	.imgFullStyle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}