@import '../../../styles/variables/colors';
@import '../../../styles/variables/mixins';

.filterBar{
	background: $white;
	position: fixed;
	bottom: 0;
	z-index: 999;
	width: 100%;
	left: 0;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;

	button {
		border: none;
		background: none;
		padding: 0;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 13px;
		display: flex;
		align-items: center;
		gap: 0px;
		position: relative;

		&::after {
			position: absolute;
			right: -30px;
			margin: 0 auto;
			content: '';
			display: flex;
			width: 1px;
			height: 100%;
			margin: 0 10px;
			background-color: $gray-28;
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}
}

