@import '../../../styles/variables/colors';
@import '../../../styles/variables/mixins';

.filterBar{
	background: $white;
	position: fixed;
	bottom: 0;
	z-index: 999;
	width: 100%;
	left: 0;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;

	button {
		border: none;
		background: none;
		padding: 12px 10px;
		width: 100%;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 13px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0px;
		position: relative;
		border-right: 1px solid $gray-70;

		&:last-child {
			border-right: none;
		}
	}
}

