@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.bikeCardMain {
  margin-bottom: 1rem;
  background-color: $gray-28;
  border-radius: 0px;

  img {
    border-radius: 0px;
    object-fit: contain;
  }

  .bikeCardTag {
    position: absolute;
    left: -6px;
    top: 15px;
    font-size: 10px;
    font-weight: 600;
    color: $white;
    padding: 0.2rem 0.6rem 0.2rem 1rem;
    background-color: $theme-red-da;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);

    &.orangeTag {
      background-color: #e86a16;
    }

    &.yellowTag {
      background-color: #e8b016;
    }
  }

  .bkeName {
    font-size: 16px;
    color: $white;
    padding: 0 1rem;
    margin-bottom: 15px;
    span {
      font-size: 14px;
      color: #e8b016;
    }
  }
  .bidPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.4rem 1rem;
    background-color: #333333;
    .priceTxt {
      font-size: 12px;
      font-weight: 500;
      color: $gray-a7;
      padding: 0;
      margin-bottom: 0px;
    }
    .priceTxtValue {
      font-size: 18px;
      font-weight: 500;
      color: $white;
      padding: 0;
      margin-bottom: 0px;
    }
  }
  .bikeDetail {
    margin-bottom: 1rem;
    .bikeDetailTitle {
      color: $gray-cb;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    .bikeDetailSubTitle {
      color: $white;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 0px;
    }
  }
  .bikeInlineDetail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0.7rem 1rem;
    background-color: #333333;
    .bikeInlineDetailTxt {
      font-size: 12px;
      color: #cbc6c6;
      padding: 0;
      margin-bottom: 0px;

      &:nth-child(2) {
        text-align: center;
        padding: 0 0.5rem;
        border-left: 1px solid #707070;
        border-right: 1px solid #707070;
      }
      &:nth-child(3) {
        text-align: end;
      }
    }
  }
  .bikePrice {
    color: $white;
    padding: 0rem 0.8rem;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .priceTitle {
    color: $gray-cb;
    padding: 0rem 0.8rem;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 1rem;
    span {
      color: $white;
    }
  }
  .price {
    color: $white;
    font-size: 18px;
    font-weight: 600;
    padding: 0rem 1rem;
    margin-bottom: 15px;
  }
  .statusBox {
    .priceTitle{
      position: relative;
      color: $gray-cb;
      padding: 0rem 1.4rem;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 0.5rem;
      &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 8px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $theme-red-da;
        transform: translateY(-50%);
      }
    }
    .boxText {
      color: $white;
      padding: 0rem 0.8rem;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
  .btnBox {
    padding: 0rem 0.8rem;

    .bikeCardBtn {
      width: 100%;
      min-height: 42px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      background: transparent;
      border: 1px solid $gray-a7;
      border-radius: 0;
    }
  }
  .cardFooter {
    font-size: 12px;
    font-weight: 500;
    color: $gray-cb;
    text-align: center;
    background-color: $gray-18;
    border: 0;
  }
}
