.leads {
  box-sizing: border-box;

  .leadsTop {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0px 1.5rem;
    .leadTable {
      Table {
        // height: 20rem;

        thead,
        tbody,
        tfoot,
        tr,
        td,
        th {
          border: none;
          padding: 1.2rem 1.5rem;
        }
        tbody {
          padding: 1rem;
          .BoldHead {
            color: white;
            font-size: 16px;
            .BoldHeadIcon {
              font-size: 1.5rem;
              margin: 0 0.5rem;
            }
          }
        }
        a {
          color: #e8b016;
          text-decoration: none;
        }
      }
    }
  }

  .leadsMiddle {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 0px 1.5rem;

    .leadMidTable {
      Table {
        height: 20rem;
        text-align: center;

        thead,
        tbody,
        tfoot,
        tr,
        td,
        th {
          border: 1px solid rgb(19, 19, 19);
        }
      }
    }
  }
}
