@import '../../../styles/variables/colors';
@import '../../../styles/variables//mixins';

.pieContainer {
	background-color: $gray-28;
	padding: 24px;
	display: flex;
	flex-direction: column;

	@include mobile {
		width: 100%
	}


	h5 {
	  font-size: 16px;
	  font-weight: normal;
	  margin-bottom: 20px;
	}
	p {
	  font-size: 14px;
	  font-weight: 500;
	  font-family: "montserrat";
	}
	
  }
  