@import "../../../styles/variables/colors";
@import "../../../styles/variables//mixins";
.performanceCard{
	border: none;
	border-radius: 0;
	margin-top: 1.5rem !important;
	.performanceCardBody{
		background-color: $gray-2;
		padding: 15px;
		border: none;
		.custumDivide{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.performanceCardText{
			h3{
				font-size: 16px;
				color: $gray-cb;
				margin-bottom: 10px;
			}
		
		}

		.dateOuter{
			padding-right: 20px;
			background-color: transparent;
			border-radius: 0;
			border: 1px solid $gray-70;
			.dateDropdown{
				.dateImg{
					outline: none;
					border: none;
					img{
						width: 28px;
						height: 28px;
						border-radius: 50%;
					}
					span{
						display: inline-block;
						margin: 0px 10px 0 6px;
						font-size: 14px;
						color: $gray-a7;
						font-weight: 500;
					}
					&::after{
						content: '';
						background: url('../../../public/images/down-arrow.png') no-repeat;
						padding: 7px 7px;
						border: none;
						background-size: 12px;
						position: absolute;
						top: 10px;
					}
				}

				.dateDropdownMenu{
					border-radius: 0;
					transform: inherit !important;
					top: 37px !important;
					right: -23px !important;
					left: inherit !important;
					padding: 0;
					a{
						background-color: $black;
						border-bottom: 1px solid $gray-3;
						color: $white;
						padding: 6px 15px;
						font-size: 13px;
						&:last-child{
							border-bottom: none;
						}
					}
				}
			}
		}
	}
}
