@import '../../../styles/variables/colors';
@import '../../../styles/variables/mixins';
.congratulationCard {
  display: flex;
  justify-content: space-between;
  height: 251px;
  margin: 1.5rem 0;
  .congratulationCardDetailes {
    background-color: #1c1b1b;
    width: 60%;
    height: 100%;
    padding: 2rem;
     h3{
		font-size: 24px;
		color: #E5E3E3;
	 }
    .cardDetailesText {
      font-size: 16px;
      padding: 0 3rem;
      letter-spacing: 0px;
      span {
        color: $theme-yellow-E8;
      }
    }
    .cardDetailesTextGray {
      font-size: 14px;
      color: $gray-cb;
      padding: 1rem 3rem;

    }
  }
  .congratulationCardSlider {
    width: 40%;
    height: 100%;
  }
}
