@import "~bootstrap/scss/bootstrap";

// variables
@import "./variables/colors";
@import "./variables/mixins";

// theme styles files
@import "./xtras";
@import "./fonts";
@import "./typography";

// custom css
* {
	font-family: "montserrat", sans-serif;
}

::selection {
  color: $white !important;
  background: rgba($theme-primary, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d0d0d;
  font-weight: 400;

  @include scrollbarCustom;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Guardian Sans', sans-serif;
}

.scroll-hide {
  @include scrollHide;
}

// four-oh-four
.four-oh-four {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $theme-primary;

  .title2 {
    text-align: center;
    color: $white;
  }
}

.re-mainContainer{
  .mainDflex{
    display: flex;
  }
}

.mainsidebar-menu{
  .accordion-item{
    .accordion-button.collapsed{
      background-color: $gray-1;
    }
  }
}
.style_reTabs__mvD_v .nav-link{
  color: #fff !important;
  font-size: 14px !important;
}

.style_reTabs__mvD_v  .nav-link.active{
background-color: transparent !important;
border: none !important;
border-bottom: 2px solid #DA291C !important;
color: #DA291C !important;
}

.style_reTabs__mvD_v .nav-link:hover, .nav-tabs .nav-link:focus{
  border: none !important;
  border-bottom: 2px solid #DA291C !important;
}

// Pagination Start

.style_detailPaginationMain__qyKfk .page-link{
  background-color: transparent !important;
  border: none !important;
  color: #ffff !important;
}
.style_detailPaginationMain__qyKfk .page-link.active, .active > .page-link{
  border: 2px solid #DA291C !important;
  background-color: #DA291C !important;
}
.style_detailPaginationMain__qyKfk .page-link:focus{
    background-color: #DA291C !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
// Pagination End
