@import '~bootstrap/scss/bootstrap';

// variables
@import './variables/colors';
@import './variables/mixins';

// theme styles files
@import './xtras';
@import './fonts';
@import './typography';

// custom css
* {
  font-family: 'montserrat', sans-serif;
}

::selection {
  color: $white !important;
  background: rgba($theme-primary, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d0d0d;
  font-weight: 400;

  @include scrollbarCustom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Guardian Sans', sans-serif;
}

.scroll-hide {
  @include scrollHide;
}

// four-oh-four
.four-oh-four {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $theme-primary;

  .title2 {
    text-align: center;
    color: $white;
  }
}

.bottom-white-border {
  border-bottom: 1px solid #707070;
}

.re-mainContainer {
  .mainDflex {
    display: flex;
  }
}

.mainsidebar-menu {
  .accordion-item {
    .accordion-button.collapsed {
      background-color: $gray-1;
    }
  }
}
.custom-tab-style .nav-link {
  color: #fff !important;
  font-size: 14px !important;
  border: none !important;
}
.custom-tab-style .nav-tabs .nav-link {
  border: none !important;
}
.custom-tab-style  .nav-link.active{
  background-color: transparent !important;
  border: none !important;
  color: $theme-red-da !important;
  margin-bottom: 0 !important;
  position: relative;
  &::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: $theme-red-da;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
}

.custom-tab-style .nav-link.active {
  background-color: transparent !important;
  border: none !important;
  color: #da291c !important;
}

.custom-tab-style .nav-link:hover,
.nav-tabs .nav-link:focus {
  border: none !important;
  border-bottom: 0 solid $theme-red-da !important;
  margin-bottom: 0 !important;
}

// Pagination Start

.custom-pagination .page-link {
  background-color: transparent !important;
  border: none !important;
  color: #ffff !important;
}
.custom-pagination .page-link.active, .active > .page-link{
  border: 2px solid $theme-red-da !important;
  background-color: $theme-red-da !important;
}
.custom-pagination .page-link.active,
.active > .page-link {
  border: 2px solid #da291c !important;
  background-color: #da291c !important;
  width: 32px !important;
  height: 32px !important;
  display: flex !important;
  align-items: center !important;
}
.custom-pagination .page-link:focus {
  background-color: $theme-red-da !important;
  border: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}
// Pagination End

// modal-style1
.modal-style1 {
  backdrop-filter: blur(7px);

  .modal-content {
    background: $gray-18;
  }

  .modal-dialog {
    min-width: 560px;
  }
}
// ----------- cancel modal end-----------------//

// ----------- complete evaluation slider -----------//

.bike-slider-custom {
  .slick-arrow {
    z-index: 9;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: #000000;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    &::before {
      font-size: 14px;
    }
    &.slick-disabled {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  .slick-prev {
    left: 10px;
    &::before {
      content: '\276E';
    }
  }
  .slick-next {
    right: 10px;
    &::before {
      content: '\276F';
    }
  }
  .slick-dots {
    height: 46px;
    bottom: 0px;
    text-align: left;
    li {
      width: 63px;
      height: 46px;
      margin-left: 0px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &.slick-active {
        a {
          border: 1px solid $white;
        }
      }
    }
  }
}

.style_dashMonthSelect__E0luY .form-select {
  font-size: 12px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  color: #fff !important;
}

.style_dashMonthSelect__E0luY .form-select:focus {
  border-color: #fff !important;
  box-shadow: none !important;
}

// toggleSwitch start
.style_sliderRound__yX05D .form-check-input:checked {
  background-color: $theme-green !important;
  border-color: $theme-green !important;
}
.style_sliderRound__yX05D .form-check-input {
  margin-left: 0 !important;
}

.style_sliderRound__yX05D .form-check-label {
  margin: 0 5px 0 10px !important;
  font-size: 12px !important;
}

// toggleSwitch End

.nav .nav-item .navBidsLink.active{
	background-color: $theme-red-da;
}

.nav .nav-item .bodyExtNavItem.active{
  color: $white;
  &::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
