@import "../../../../styles/variables/colors";
@import "../../../../styles/variables/mixins";

.sideBarContainer{
	width: 100%;
	max-width: 240px;
	height: 100vh;
	overflow-y: auto;
	background-color: $gray-2;
	position: fixed;
	top: 48px;
	left: 0;
	z-index: 9;
}
.sideBarContainer::-webkit-scrollbar {
	width: 0em;
}

.sideBarContainer::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
}

.sideBarContainer::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 0px solid slategrey;
}

.headerStyle {
	border-bottom: 0px solid #282828;
}

.reAccordion{
	li{
		list-style-type: none;
		a{
			padding: 14px 12px;
			text-decoration: none;
			color: $gray-a7;
			display: block;
			border-bottom: 1px solid $gray-28;
			span.navIcon{
				display: inline-block;
				width: 20px;
				img{
					width: 15px;
					opacity: 0.6;
				}
			}
		}
	}
	.accordionItems{
		background: transparent;
		border: none;
		padding: 0;
		border-radius: 0;
		border-bottom: 1px solid $gray-28;
		&:first-of-type{
			button{
				border-radius: 0 !important;
			}
		}
		&:last-of-type{
			button{
				border-radius: 0 !important;
			}
		}
		button{
			background-color: transparent;
			padding: 14px 14px;
			outline: none;
			box-shadow: none;
			border-radius: 0;
			background-color: $gray-2;
			&::after{
				color: $white;
				background: url('/images/down-arrow.png') no-repeat;
				background-size: 18px;
				opacity: 0.6;
			}
			a{
				text-decoration: none;
				color: $gray-a7;
				span.navIcon{
					display: inline-block;
					width: 20px;
				}
			}
		}
	}

	.accordionBody{
		background-color: $black;
		padding: 10px 0;
		li{
			a{
				color: #818181;
				padding: 8px 14px;
				font-size: 12px;
				border: none;
				&:hover{
					color: $white;
					transition: all 0.5s;
				}
			}
		}
	}
}
